html {
  height: 100dvh;
}

body {
  background-color: #333631;
  height: 100dvh;
}

a {
  color: #a86f4c;
  text-decoration: none;
}

#index {
  height: 100dvh;
  text-align: center;
  display: grid;
  grid-template:
    'main' 95dvh
    'footer' 5dvh;
  font-family: Inconsolata, monospace;
}

.main {
  grid-area: main;
  display: flex;
  align-items: center;
  font-size: large;
}

.main-links {
  list-style: none;
  text-align: center;
  width: 100%;
}

.footer {
  grid-area: footer;
}

.footer-body {
  font-size: x-small;
  position: sticky;
  top: 100%;
  margin-right: 0.2rem;
  text-align: right;
  font-family: 'Noto Emoji', sans-serif;
}
