@import url(https://fonts.bunny.net/css?family=alice:400);

body {
  background-color: #333631;
  color: #a86f4c;

  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #a86f4c;
  text-decoration: none;
}

.main {
  font-size: large;
  font-family: "Alice";
}
